body
  background: #efefef

.title1
  margin-bottom: 20px

.title2
  margin-bottom: 10px

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button
  -webkit-appearance: none
  margin: 0

.buttonDefault 
  margin-right: 15px
  
.buttonDefault:last-child
  margin-right: 0