.title
  margin-bottom: 14px
  display: inline-block
  position: relative
  z-index: 3

.item
  margin-bottom: 40px

.progressContainer
  position: relative
  z-index: 1

div.progress
  height: 1px


.info
  position: absolute
  width: 100%
  text-align: center
  z-index: 2
  top: -42px
  display: inline-block

.percent
  font-size: 30px
  font-weight: 300
  display: inline-block
  margin-bottom: 15px
