.item
  margin-bottom: 50px

.title
  margin-bottom: 14px
  display: inline-block
  position: relative
  z-index: 3

.progressContainer
  position: relative
  z-index: 1

div.progress
  height: 3px


.info
  position: absolute
  width: 100%
  text-align: center
  z-index: 2
  top: -32px
  display: inline-block

.ratio
  opacity: .3
  margin: 0

.percent
  font-size: 24px
  font-weight: 300
  display: inline-block
  margin-bottom: 15px

.controlTopic
  position: relative
  z-index: 3
  margin-top: 6px

.buttonControl
  border: none
  background: none
  font-weight: 100
  font-size: 20px